---
// src/pages/[...slug].astro
import BaseLayout from "../layouts/BaseLayout.astro";
import YoutubePlayer from "../components/YoutubePlayer.jsx";

export const prerender = true;

import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../sanity/lib/load-query";

export async function getStaticPaths() {
  const { data: games } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "games"] {
      slug
    }`,
  });

  return games.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}
const { params } = Astro;

interface Game {
  name: string;
  description: string;
  youtubeLink: string;
  slug: { current: string };
}

const { data: game } = await loadQuery<Game>({
  query: `*[_type == "games" && slug.current == $slug][0]`,
  params,
});
---

<BaseLayout>
  <div class="grid place-items-center">
    <h1
      class="my-8 text-center text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >
      {game.name}
    </h1>
    <div class="w-full max-w-4xl">
      <YoutubePlayer videoId={game.youtubeLink} client:load />
    </div>
    <p class="dark:text-white p-8 lg:w-1/2">{game.description}</p>
  </div>
</BaseLayout>
