---
// src/components/Card.astro
import CardImage from "./CardImage.astro";

const { game, slug } = Astro.props;
---

<div
  class="card-glow group w-full h-full flex flex-col overflow-hidden transition-transform duration-[var(--dur-base)] ease-[var(--ease-out-soft)] hover:-translate-y-1"
>
  <div class="flex-none">
    <CardImage image={game.image} alt={game.image.alt} slug={slug} title={game.name} />
  </div>
</div>
