---
// src/components/CardImage.astro - VERSION MISE À JOUR
import SanityPicture from "./SanityPicture.astro";
const { image, alt, slug } = Astro.props;
---

<a href={"/" + slug} class="block w-full">
  <SanityPicture
    image={image}
    alt={alt}
    className="w-full transition-all hover:shadow-xl"
  />
</a>
