<div
  class="forescape-catalog"
  data-widget-id="5f1af699-4c4e-4d14-8946-230f16f6fccc"
  data-settings="b64.eyJkb21haW4iOiJ2cmNhZmUuNGVzY2FwZS5pbyJ9"
>
</div>
<div
  class="forescape-cart"
  data-settings="b64.eyJkb21haW4iOiJ2cmNhZmUuNGVzY2FwZS5pbyJ9"
>
</div>
<script>
  !(function () {
    var e = document.createElement("link");
    (e.href = "https://widgets.4escape.app/main.css"),
      (e.rel = "stylesheet"),
      (e.crossOrigin = "anonymous"),
      document.head.appendChild(e);
    var t = document.createElement("script");
    (t.defer = !0),
      (t.type = "module"),
      (t.src = "https://widgets.4escape.app/main.js"),
      document.body.appendChild(t);
  })();
</script>
