---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "./BaseHead.astro";
import FloatingActions from "../components/FloatingActions.astro";

interface Props {
  title?: string;
  description?: string;
  canonical?: string;
  ogImage?: string;
}

const { title, description, canonical, ogImage } = Astro.props;
---

<html lang="fr" class="smooth scroll-smooth pt-16 dark">
  <BaseHead title={title} description={description} canonical={canonical} ogImage={ogImage} />
  <body class="dark:bg-gray-800">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NJ2HQDKS"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <NavBar />
    <main>
      <slot />
    </main>
    <Footer />

    <FloatingActions />

    <style>
      :root {
        --navHeight: 8rem;
      }
      html {
        scroll-padding-top: var(--navHeight);
      }
    </style>
  </body>
</html>
